.messages {
    background: white;
    box-sizing: border-box;
    border-left: 2.5px solid #E9F0F8;;
}

.newMessage{
    padding: 10px;
    display: flex;
}

.newMessage input{
    width: calc(100% - 100px);
    height: 30px;
}
.newMessage button{
    width: 100px;
}