.item {
    color: #000000;
    padding: 10px 5px;
    width: 500px;
    border: 1px solid #bbbbbb;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.item img{
    width: 50px;
    border-radius: 50%;
}

.likes{
    padding: 5px;
}